@charset "utf-8";
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        list-style: none;
    }
    body{
        background-color: rgb(252, 247, 241);
    }
    .signup{
        width: 60%;
        background-color: #c42d2d;
        margin: 20% auto;
        max-width: 496px;
        min-width: 436px;
        padding: 20px;
    }
    legend{
        text-align: center;
    }
    .signup legend{
        padding: 50px 0 40px 0;
    }
    .signup ul{
        width: 100%;
    }
    .signup ul li{
        margin: auto;
        padding: 10px 0;
        text-align: center;
    }
    .signup ul li i{
        color: #a09f9f;
        margin-right: 3px;
    }
    .signup ul li input{
        width: 70%;
        height: 30px;
        border: 0.3px solid #a09f9f;
        border-radius: 2px;
    }
    .button a{
        display: block;
        background-color: aqua;
    }
    .bt_1{
        display: block;
        width: 330px;
        height: 30px;
        background-color: rgb(55, 42, 236);
        font-size: 15px;
        color: #fff;
        font-weight: 600;
        margin: 0 auto;
    }
    .bt_2:last-child{
        display: block;
        width: 85px;
        text-align: center;
        background-color: rgb(238, 185, 13);
        font-size: 13px;
        color: #333;
    }